<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Content/css/styles.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Raddress Book</h1>
      <h5>Your rad addresses!!</h5>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
