<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Content/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel+Decorative|Fascinate+Inline|Faster+One|Fredericka+the+Great|Homemade+Apple|Permanent+Marker|Poiret+One|Ribeye+Marrow|Shadows+Into+Light+Two|Syncopate|Walter+Turncoat" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron headstyle">
      <h1 class="main" id="raddress"><img src="http://www.radpacks.ca/wp-content/uploads/2016/08/Rad_Packs_Logo-2.png" alt="RAD logo"> dress Book</h1>
      <h5 class="main" id="sub">Your rad addresses!!</h5>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
