@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row scoot">
  <h1 class="titles">Your <img class="smallpic" src="http://data.whicdn.com/images/91662388/large.png" alt="RAD logo">dress Book</h1>
  <ul>
    @foreach (var contact in Model)
    {
      <li><a href="/contacts/@contact.GetId()" class="contactlist">@contact.GetName()</a></li>
    }
  </ul>
  <p><a href="/contacts/new" class="links">Add another contact</a></p>
  <form action="/contacts/cleared" method="post">
    <button type="submit" name="button" class="links">Erase all contacts</button>
  </form>
</div>
