@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row scoot">
  <h1 class="titles">Your <img class="smallpic" src="http://data.whicdn.com/images/91662388/large.png" alt="RAD logo">dress Book</h1>
  <ul>
    @foreach (var address in Model)
    {
      <li><a href="/addresses/@address.GetId()" class="addresslist">@address.GetName()</a></li>
    }
  </ul>
  <p><a href="/addresses/new" class="links">Add another address</a></p>
  <form action="/addresses/cleared" method="post">
    <button type="submit" name="button" class="links">Erase all addresses</button>
  </form>
  <h3><a href="/search_by_name" class="links">Search for a contact</a></h3>
</div>
