@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add a contact here:</h1>

<form action="/" method="post">
  <label for="contact-name">Contact name</label>
  <input id="contact-name" name="contact-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
