@{
  Layout="Shared/_Layout.cshtml";
}
<div class="row scoot">

  <h1 class="titles">Add a new address!</h1>
  <form action="/addresses" method="post">
      <div class="row">
          <label for="new-street" class="label-size">Number and Street:</label>
          <input type="text" name="new-street" id = "new-street" class="input-size" required>
      </div>
      <div class="row">
          <label for="new-city" class="label-size">City:</label>
          <input type="text" name="new-city" id = "new-city" class="input-size" required>
      </div>
      <div class="row">
          <label for="new-state" class="label-size">State:</label>
          <input type="text" name="new-state" id = "new-state" class="input-size" required>
      </div>
      <div class="row">
          <label for="new-zip" class="label-size">Zip Code:</label>
          <input type="number" name="new-zip" id = "new-zip" class="input-size" required>
      </div>
      <button type="submit" class="btn buttoncolor">Add address</button>
  </form>
</div>
