@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add a contact here:</h1>

<form action="/categories" method="post">
  <label for="category-name">Category name</label>
  <input id="category-name" name="category-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
