@{
  Layout="Shared/_Layout.cshtml";
}

<h1 class="titles">Search for an address</h1>
<form action="/search_results" method="post" class="addresstext">
  <label for="search-name">Contact name</label>
  <input id="search-name" name="search-name" type=text>
  <button type="submit">Search!</button>
</form>
<p><a href="/" class="links">Back Home</a></p>
