@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Search Results</h1>
  @if(@Model != null) {
    <ol>
    <li>@Model.GetName()</li>
    </ol>
  } else {
    <h2>No contact found</h2>
  }

<p><a href="/">Go Back Home</a></p>
